.select-tag {
  cursor: pointer;
  color: #8a92a6;
  border: 1px solid #979797;
  transition: all 0.3s;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  border-radius: 20px;
  background-color: #ffffff;
}
.select-tag:hover {
  border: 1px solid #969696;
  background-color: #969696;
  color: #ffffff;
}
.select-tag-active {
  color: #ffffff;
  background-color: #7c7c7c;
  border: 1px solid #7c7c7c;
}
.tag-selector {
  width: 100%;
}
.tag-selector-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
